body {
	background-color:white;
	margin: 0;
	padding 0;
}

.wrapper {
	margin: 0 auto;
	min-height:1000px;
	width: 1000px;
	background-color: #eaeaea;
	position:relative;
	box-shadow: 0px 0px 4px 5px rgba(148,148,148,0.8);
}
.header {
	width:1000px;
	height:250px;
	background-color: #262626;
}
.logoHeader {
	height:230px;
	width: 120px;
	display:block;
	margin: 10px 0 0 0;
	float:left;
	background-image: url(../img/logo.svg);
	background-size: 230px 230px;
	background-position:-110px 0px;
}
.headerTitle {
	height:55px;
	width:570px;
	color:#eaeaea;
	line-height:55px;
	font-size:60px;
	float:left;
	margin:180px 0 0 -99px;
}
.stratsTitle {
	height:55px;
	line-height:55px;
	width:570px;
	color:#262626;
	font-size:60px;
	margin:20px 0 0 20px;
}
.mapsWrapper{
	width:975px;
	height:500px;
	margin:0 0 0 25px;
}
.mapPreview{
	width:300px;
	height:150px;
	background-color:#eaeaea;
	float:left;
	margin:25px 25px 0 0;
	background-size:cover;
	background-position:center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-transition: all 0.5s ease-in-out;
}
.mapPreview:last-child{
	margin-left:325px;
}
.mapPreview:hover {
	-webkit-transform: scale(1.1);
	-webkit-transition: all 0.5s ease-in-out;
}
.mapPreview a {
	width:300px;
	height:150px;
	display:block;
}
.mapName{
	color:#eaeaea;
	line-height:150px;
	font-size:50px;
	text-align:center;
	text-decoration:none;
	display:block;
}
.mapName p {
	display:block;
}
#club {
	background-image:url(../img/mapPreview/clubhouse.jpg);
}
#coastline {
	background-image:url(../img/mapPreview/coastline.jpg);
}
#bank {
	background-image:url(../img/mapPreview/bank.jpg);
}
#villa {
	background-image:url(../img/mapPreview/villa.jpg);
}
#consulate {
	background-image:url(../img/mapPreview/consulate.jpg);
}
#border {
	background-image:url(../img/mapPreview/border.jpg);
}
#kafe {
	background-image:url(../img/mapPreview/kafe.jpg);
}
.clearfix {
  display: table;
  clear: both;
  visibility: hidden;
}
.footer {
	width:1000px;
	height:50px;
	background-color:#262626;
	margin:0 auto;
	margin-top: 10px;
	bottom: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* MOBILE */

@media only screen and (orientation: portrait) {
	.wrapper {
		width:950px !important;
		padding-bottom: 25px;
	}
	.mapPreview{
		width:900px;
		height:450px;
	}
	.mapPreview:last-child{
	margin-left:0 !important;
}
	.mapName{
	color:#eaeaea;
	width:900px !important;
	line-height:450px !important;
	font-size:150px !important;
	margin:0 auto !important;
	text-decoration:none;
}
	.mapPreview:hover {
	-webkit-transform: scale(1);
	-webkit-transition: all 0.5s ease-in-out;
}